.content{
    width: 415px;
    display: flex;
    border-bottom: solid 1px rgb(208, 207, 207);
    padding-bottom: 20px;
    margin: 20px 0px 20px 20px;
}

.info{
    padding-left: 10px;
}

.pin{
    height: 10px;
    width: 10px;
}

.mapInfo{
    display: flex;
    font-size: 10px;
}

.mapInfo > *{
    padding-right: 5px;
}

.photo{
    width: 200px;
    border-radius: 10px;
}

.title{
    font-size: 25px;
    font-weight: 700;
    padding: 7px 0px 14px 0px;
}

.date{
    font-weight: 700;
}

p{
    font-size: 10px;
}

a{
    color: rgb(101, 101, 101);
}